<div id="<%= dom_id place %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= place.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= place.cost %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= place.note %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= place.category %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= place.rating %>
  </p>

  <p>
    <%= link_to "Show this place", place %>
  </p>
</div>
