<%= column_div_tag 3 do %>
<div id="<%= dom_id activity %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= activity.address %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= activity.cost %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= activity.note %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= activity.rating %>
  </p>

  <p>
    <%= link_to "Show this activity", activity %>
  </p>
</div>
<% end %>
