<div id="<%= dom_id accommodation %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= accommodation.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= accommodation.address %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= accommodation.cost %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= accommodation.description %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= accommodation.note %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= accommodation.rating %>
  </p>

  <p>
    <%= link_to "Show this accommodation", accommodation %>
  </p>
</div>
