<div id="<%= dom_id trip %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= trip.name %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= trip.budget %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= trip.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= trip.ends_at %>
  </p>

  <p>
    <%= link_to "Show this trip", trip %>
  </p>
</div>
