<div id="<%= dom_id address %>" class="scaffold_record">
  <p>
    <strong>Line1:</strong>
    <%= address.line1 %>
  </p>

  <p>
    <strong>Line2:</strong>
    <%= address.line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= address.zip %>
  </p>

  <p>
    <%= link_to "Show this address", address %>
  </p>
</div>
